body {
    font-family: Arial, sans-serif;
    background-color: #eef5fc;
    margin: 0;
    padding: 0;
}

.container {
   
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.taskInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
/* button add list */
.addTaskBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
/* input taskList */
.taskList {
    /* display: flex;
    flex: 1; */
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
}

.taskList li {
    flex-flow: row wrap;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.taskList li input[type="checkbox"] {
    margin-right: 10px;
}
/* button delete */
.taskList li button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

.taskList li button:hover {
    background-color: #c82333;
} 
